# Ignore everything
**

!.gitignore
!.gitattributes

!src/
!src/**/
!src/*.py
!src/**/*.py
!.md
!result/
!result/stage2_field_combinations/
!result/stage2_field_combinations/**/
!result/stage2_field_combinations/**/**/**/*.json
